* {
  box-sizing: border-box;
}

.head, .chest, .body {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.robot {
  position: relative;
  width: 500px;
  margin: 50px auto;
}

.head {
  position: absolute;
  width: 140px;
  height: 105px;
  border: 3px solid black;
  background: #85adad;
  border-radius: 20%
}

.antenna {
  width: 3px;
  height: 30px;
  background: black;
  position: absolute;
  top: -33px;
  left: 0;
  right: 0;
  margin: auto;
}

.eye {
  width: 20px;
  height: 20px;
  border: 3px dashed white;
  background: black;
  position: absolute;
  top: 10px
  
}

.eye.left {
  left: 30px;
  border-radius: 50%;
}

.eye.right {
  right: 30px;
  border-radius: 50%;
}

.mouth {
  width: 40px;
  height: 30px;
  background: black;
  border: 2px solid white;
  position: absolute;
  top: 60px;
  left: 1px;
  right: 0;
  margin: auto;
  float: center;
  border-radius: 10%;
  
}

.top {
  width: 10px;
  height: 10px;
  border-radius: 20%;
  background: red;
  position: absolute;
  top: -8px;
  left: -4px;
}

  .ear {
  width: 15px;
  height: 30px;
  border: 3px solid black;
  background: white;
  position: absolute;
  top: 30px;
}

.ear.left {
  left: -15px;
  background: red;
  border-radius: 30%;
}

.ear.right {
  right: -15px;
  background: red;
  border-radius: 30%;
  
}

.chest {
  width: 190px;
  border: 3px solid black;
  height: 140px;
  position: absolute;
  top: 105px;
  border-radius: 20%;
  background: yellow;
}

.chest1 {
  width: 130px;
  height: 130px;
  border: 3px dashed black;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 110px;
  background: #ffffcc;
}

.chest2 {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px dashed black;
  left: 0;
  right: 0;
  margin: auto;
  background: orange;
  bottom: -205px;
  border-radius: 30%;
}

.arm {
  position: absolute;
  height: 25px;
  width: 70px;
  top: 130px;
  border: 2px solid black;
  background: gray;
}

.arm-fore {
  height: 20px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  border-radius: 30%;
  background: orange;
  top: 1px;
  z-index: 1;
}

.arm.left {
  left: 87px;
}

.arm-joint.left {
  left: -15px;
}

.arm-joint.right {
  right: -15px;
}

.arm.right {
  right: 87px;
}

.arm-fore.left {
  left: -30px;
}

.arm-fore.right {
  right: -30px;
}

.body {
  width: 240px;
  left: 1px;
  border: 2px dashed gray;
  height: 40px;
  top: 295px;
  border-radius: 40%;
  background: black;
}
